<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ shop.name }} - {{ page_title }}</title>

  {{ content_for_header }}

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}  
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'image.css' | asset_url | stylesheet_tag }}
  
  <script src="//use.typekit.net/orx8mpw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
    
</head>

<body>
  <div id="container">

  <header>
      <div id="date" class="left">
          <p id="day"></p>
          <p id="time"></p>
      </div>
      <div id="social" class="right">
          <p id="social-trigger">Follow Us</p>
          <p class="social-links">
              <a href="https://instagram.com/carmenchenwu/"><i class="fa fa-instagram fa-lg"></i></a>
              <a href="https://www.pinterest.com/carmenchenwu/s-ccw/"><i class="fa fa-pinterest-p fa-lg"></i></a>
              <a href="mailto:info@carmenchenwu.com"><i class="fa fa-paper-plane fa-lg"></i></a>
          </p>
      </div>
      <div><a href="/"><img src="{{ 'LOGO.png' | asset_url }}" alt="{{ shop.name }}" class="logo"></a></div>
  </header>

  <img src="{{ 'ICON.png' | asset_url }}" width="50px" height="50px" id="menu-trigger">
  <nav>
    <ul class="menu">
      {% for link in linklists.main-menu.links %}
        <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
        <li><a href="/cart">BAG ({% if cart.item_count > 0 %}{{ cart.item_count }}{% else %}0{% endif %})</a></li>
    </ul>
  </nav>

  {{ content_for_layout }}
      
  </div>

  <footer>
  
    <div id="mc_embed_signup">
        <form action="//carmenchenwu.us9.list-manage.com/subscribe/post?u=f51576a3ff7ecd59ccece92c1&amp;id=c70d76d109" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="join our mailing list" required>
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_f51576a3ff7ecd59ccece92c1_c70d76d109" tabindex="-1" value="">
                </div>

                <div class="clear">
                    <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
        </form>
    </div>      
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  {{ 'jquery.lettering-0.6.1.min.js' | asset_url | script_tag }}
  {{ 'moment.min.js' | asset_url | script_tag }}
  {{ 'project.js' | asset_url | script_tag }}

</body>
</html>